@import url("toolTip.css");
@import url("errors.css");
@import url("remove.css");
@import url("buttons.css");
@import url("dropdown.css");
@import url("convertWindow.css");
@import url("recipe.css");
@import url("inputs.css");

.controllerDiv {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	font-family: Arial !important;
}